body {
  background-color: #ccc;
}

canvas {
  background: white;
  margin: 50px auto;
  display: block;
}

canvas:hover {
  cursor: crosshair;
}

p {
  text-align: center;
  font-family: monospace;
  margin: 0px;
}

article {
  margin: auto;
  height: 100%;
}
